@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GeneralSans-Bold';
  src: url('./assets/fonts/GeneralSans-Bold.woff2') format('woff2'),
       url('./assets/fonts/GeneralSans-Bold.woff') format('woff'),
       url('./assets/fonts/GeneralSans-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'GeneralSans-Semibold';
  src: url('../fonts/GeneralSans-Semibold.woff2') format('woff2'),
       url('../fonts/GeneralSans-Semibold.woff') format('woff'),
       url('../fonts/GeneralSans-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'GeneralSans-Medium';
  src: url('../fonts/GeneralSans-Medium.woff2') format('woff2'),
       url('../fonts/GeneralSans-Medium.woff') format('woff'),
       url('../fonts/GeneralSans-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'GeneralSans-Regular';
  src: url('../fonts/GeneralSans-Regular.woff2') format('woff2'),
       url('../fonts/GeneralSans-Regular.woff') format('woff'),
       url('../fonts/GeneralSans-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


body {
  background-color: #080825;
}


/* hero section */
.hero {
   background-image: url("./assets/hero/hero-slider.png");
}

.hero-icon {
   animation: hero-animate 2s ease-in-out infinite alternate-reverse;
}

@keyframes hero-animate {
    from {
       right: 0;
    }
    to {
      right: 80px;
    }
}


.launch {
   background-image: url("./assets/launch/mount.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}